@import './basic.less';

.users {
        .user-id {
            width: 3%;
        }

        .user-name {
            width: 13%;
        }

        .user-surname {
            width: 13%;
        }

        .user-bday {
            width: 10%;
        }

        .user-address {
            width: 13%;
        }

        .user-phone {
            width: 13%;
        }

        .user-mail {
            width: 16%;
        }

        .user-created {
            width: 13%;
        }
}

.reviews, .orders, .users {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .thead {
        font-weight: bold; 
        border-top: 2px solid @dark-green-transparent;
        border-bottom: 1px solid @dark-green-transparent;
    }

    .row, .thead {
        border-bottom: 1px solid @dark-green-transparent;
        display: flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        :hover {
            background: @dark-green-transparent;
            color: @white;
        }
    }

    .thead {
        font-size: small;
    }

    .row {
        font-size: smaller;
    }

    .order-id,
    .order-surname,
    .order-name,
    .order-address,
    .order-address-change,
    .order-phone,
    .order-email,
    .order-sum,
    .order-status,
    .order-status-change,
    .order-details,
    .user-id, 
    .user-name, 
    .user-surname, 
    .user-bday, 
    .user-address, 
    .user-phone, 
    .user-created {
        padding: 1vh 0.5vh 0.5vh 0.5vh;
        flex-wrap: wrap;
    }

    &.details {
        border-radius: 5px;
        background: @white;
        font-size: small;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        .row_input {
            border:none;
            display: flex;
            text-align: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.orders {
    font-size: smaller;

    .order-id {
        width: 3%;
    }

    .order-surname {
        width: 8%;
    }

    .order-name, .order-address-change {
        width: 8%;
    }

    .order-address {
        width: 11%;
    }

    .order-phone {
        width: 10%;
    }

    .order-email {
        width: 11%;
    }

    .order-sum, .order-status-cancel {
        width: 6%;
    }

    .order-status {
        width: 9%;
    }

    .order-status-change {
        width: 9%;
    }

    .order-details {
        width: 15%;
    }
}

.reviews {
    .review-id {
        width: 10%;
    }

    .review-user {
        width: 40%;
    }

    .review-text {
        width: 40%;
    }
}
