@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@bluegreen: #66a5ad;
@light-bluegreen-transparent1: #95D8E1;
@light-bluegreen-transparent2: #66a5ada2;
@light-bluegreen-transparent3: #07575b56;
@light-blue: #c4dfe6;
@dark-green-transparent: #07575bea;
@whitesmoke: #F5F5F5;
@white: #FFFFFF;
@black: #000000;
@graphit: #565555;
@invalid: #ffe3e7;


.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0%;
    min-height: 100vh;
    color: @black;
    background: url(../../src/pics/background.png) no-repeat; 
    background-size: 100% 100%;
}

header {
    min-height: 15vh;

    .logo {
        display: flex;
        align-items: center;
    
        a {
            display: flex;
            align-items: center;

            img {
                height: 10vh;
        
                &:hover {
                    opacity: .9;
                }
            }

            h2 {
                font-weight: bold;
                font-style: normal;
                color: @dark-green-transparent;
                margin-left: 20px;
            }
        }
    }
}

nav.menu {
    &.header-menu {
        font-size: larger;
        background: @dark-green-transparent;
        margin: 0;
        padding: 0;
        color: @whitesmoke;
    }

    ul.menu {
        a {
            transition: .5s linear;
            vertical-align: middle;
        }

        &.header-menu {
            height: 100%;
            font-weight: bold;
            list-style: none; 
            margin: 0;
            padding: 0;
    
            li{
                display: inline-block;
                margin: 1em 20px 0 0;
                position: relative;
                min-width: 10vh;

                &:last-child {
                    margin-right: 20px;
                }

                &:first-child {
                    margin-left: 20px;
                }

                img.cart {
                    height: 5vh;
                }

                .submenu {
                    &.header-submenu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        //width: 100%;
                        z-index: 10;
                        transition: 0.5s ease-in-out;
                        visibility: hidden;
                    
                        li{
                            width: 20em;
                            padding: 1em 1em 0 1em;
                            position: relative;
                            background: @bluegreen;
                            border-bottom: 1px solid @light-bluegreen-transparent3;
                            margin: 0;
                    
                            &:first-child {
                                margin-left: 0;
                            }
                    
                            &:hover {
                                text-shadow: 5px 5px 15px @dark-green-transparent;
                            }
                        } 
                    } 
                }
                
                &:hover {
                    text-shadow: 5px 5px 15px @light-bluegreen-transparent1;

                    .submenu {
                        &.header-submenu {
                            visibility: visible;
                        }
                    }
                }

                &.penult {
                    margin-left: 53vh;
                
                    &.one {
                        margin-right: 2vh;
                    }
                }
            } 
        }
    }
}

main {
    margin: 0;
    padding: 0;
    min-height: 60vh;
    flex-grow: 1;
}

article {
    width: 90%;
    height: 100%;
    min-height: 65vh;
    background: @light-blue;
    margin: 0 auto;
    color: @black;
    font-size: large;
    border-right: 3px solid @dark-green-transparent;
    border-left: 3px solid @dark-green-transparent;

    p {
        margin: 1em 5vh 0 5vh;
    }
}

input:invalid {
    background: @invalid;
}

form {
    padding: 0px 0px;
    background: @bluegreen;
    border-radius: 0px; 
}

input, select {
    color: @graphit;
    font-family: 'Comfortaa', cursive;
    font-size: smaller;
    border: 1px solid @bluegreen;
    border-radius: 5px;

    &:hover {
        background: @dark-green-transparent;
        color: @white;
        box-shadow: 0 1px 2px @whitesmoke;
    }
}

.set-changes {
    p {
        margin: 1.5em 0 0.5em 5vh;   
        font-weight: bold;
    }

    form {
        padding-left: 25px;
        margin-bottom: 0;

        input, select {
            margin: 15px 0 0 0;

            &:last-child {
                margin-bottom: 15px;
            }
        }

        input[type=submit] {
            margin-left: 0;
        }
    }

    &.sort {
        input, select {
            margin: 0.5em 0 0 0;

            &:last-child {
                margin-bottom: 0.5em;
            }
        } 
    }

    &.orders {
        background: none;
    }
}

.info {
    padding: 1em 5vh 5vh 5vh;

    p {
        margin-bottom: 0.5em;
        margin-left: 0;
    }

    img {
        border: 3px solid @whitesmoke;
        width: 20em;
        height: 20em;
        border-radius: 5px;
        box-shadow: 0 1px 2px @bluegreen;
    }

    &.resp {
        height: 1em;
        padding: 0%;
    }
}

.catalog {
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    &.product-card {
        min-height: 27em;
        flex: 0 0 calc(18% - 2px);
        border: 1px solid @dark-green-transparent;
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: flex-start;

        &.amount {
            min-height: 1em;
        }

        .inner {
            height: fit-content;
            border: none;
            padding-top: 0%;
        }
        
        a {
            text-decoration: none;
            color: @black;
            border: none;
            min-height: 10vh;

            &.product-card.text{
                font-weight: bold;
                width: 95%;
            }
        }

        img {
            width: calc(100% - 2vh);
            border-radius: 5px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.description {
    display:inline-block;
    vertical-align: top;
    margin-left: 5vh;
    margin-right: 5vh;
    padding-left: 1em;
    width: 40%;
    height: 20em;
    border: 3px solid @whitesmoke;
    border-radius: 5px;
}

button {
    width: auto;
    display: inline;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    margin: auto;
    border: 1px solid @whitesmoke;
    border-radius: 5px;  
    height: auto;
    font-family: inherit;
    font-weight: normal;

    &:hover {
        background: @dark-green-transparent;
        color: @white;
    }
}

.add-to-cart {
    display:inline-block;
    vertical-align: top;
    margin-right: 5vh;
    min-width: 20%;
    height: 20em;
    border: 3px solid @whitesmoke;
    border-radius: 5px;  
    background: inherit; 
    text-align: center;

    input, button {
        margin-top: 15px;
    }

    input[type=number] {
        width: 3em;
    }

    button {
        color: @white;
        font-family: inherit;
        font-weight: bolder;
        padding: 1em 1em 1em 1em;
        background: @bluegreen;
        width: 17em;
        border: 1px solid @whitesmoke;
        border-radius: 5px;

        &:hover {
            background: @dark-green-transparent; 
            color: @white;
        }
    }

    &.catalog {
        margin: auto;
        border: none;
        height: auto;
        display: block;
        padding-left: 0;
    }

    button.add-product {
        width: auto;
        display: inline;
        padding: 0.5vh 0.5vh 0.5vh 0.5vh;
        margin: auto;
        border: 1px solid @whitesmoke;
        border-radius: 5px;  
        height: auto;
        font-family: inherit;
        font-weight: normal;

        &:hover {
            background: @dark-green-transparent;
            color: @white;
        }
    }
}

table.reviews, table.orders, table.users {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    text-align: center;

    thead {
        font-weight: bold; 
        border-top: 2px solid @dark-green-transparent;
        border-bottom: 1px solid @dark-green-transparent;
    }

    tr {
        border-bottom: 1px solid @dark-green-transparent;
    }

    tbody tr:hover {
        background: @dark-green-transparent;
        color: @white;
    }

    td {
        padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    }

    &.details {
        border-radius: 5px;
        background: @white;
        border-collapse: collapse;
        font-size: small;

        tr {
            border:none;
        }
    }
}

table.orders {
    font-size: smaller;
}

.info-title {
    font-weight: bold;
}

.contact {
    background: @bluegreen;
    padding: 10px 0px 10px 0px;
    margin-top: 5vh;

    form {
        width: 65vh;
        margin: 0 auto;
        padding: 0px 0px;
        background: @bluegreen;
        border-radius: 0px; 
    } 

    p {
        width: fit-content;
        margin: 0 auto 10px auto;
        font-weight: bold;
    }
} 

.contact-input, .contact-btn {
    font-size: inherit;

    &.contact-name, &.contact-mail {
        margin: 0 auto;
        margin-bottom: 15px;
        width: calc(50% - 15px); 

        &:hover {
            box-shadow: 0 1px 2px @whitesmoke;
            border-color: @dark-green-transparent;
        }

        &:focus {
            background: @whitesmoke;
        }
    }

    &.contact-name {
        margin-right: 12px;
    }

    &.contact-msg{
        width: calc(100% - 6px); 
        margin-bottom: 15px;

        &:hover {
            box-shadow: 0 1px 2px @whitesmoke;
            border-color: @dark-green-transparent;
        }

        &:focus {
            background: @whitesmoke;
        }
    }
}

.contact-btn {
    width: calc(100%);
    margin: 0 auto;
}

p.error_message {
    font-weight: bold;
}

footer {
    width: 100%;
    min-height: 20vh;
    background: @light-bluegreen-transparent2;
    border-top: 3px solid @dark-green-transparent;
    padding: 1em 0 0 0;
    color: @graphit;
    font-weight: lighter;

    p {
        margin: 1em 5vh 0 5vh;
    }
}
